<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ViewStaffList</servlet-name>
        <servlet-class>controller.ViewStaffList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaff</servlet-name>
        <servlet-class>controller.AddStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadStaffList</servlet-name>
        <servlet-class>controller.LoadStaffList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStaff</servlet-name>
        <servlet-class>controller.SearchStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaff</servlet-name>
        <servlet-class>controller.UpdateStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaff</servlet-name>
        <servlet-class>controller.DeleteStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStaffDetails</servlet-name>
        <servlet-class>controller.ViewStaffDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUserList</servlet-name>
        <servlet-class>controller.ViewUserList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>controller.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadUserList</servlet-name>
        <servlet-class>controller.LoadUserList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUser</servlet-name>
        <servlet-class>controller.SearchUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>controller.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>controller.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUserDetails</servlet-name>
        <servlet-class>controller.ViewUserDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBookList</servlet-name>
        <servlet-class>controller.ViewBookList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadBookList</servlet-name>
        <servlet-class>controller.LoadBookList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBook</servlet-name>
        <servlet-class>controller.SearchBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBook</servlet-name>
        <servlet-class>controller.UpdateBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBook</servlet-name>
        <servlet-class>controller.DeleteBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBookDetails</servlet-name>
        <servlet-class>controller.ViewBookDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewShippingList</servlet-name>
        <servlet-class>controller.ViewShippingList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewShippingOrderDetails</servlet-name>
        <servlet-class>controller.ViewShippingOrderDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchShipping</servlet-name>
        <servlet-class>controller.SearchShipping</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatus</servlet-name>
        <servlet-class>controller.UpdateStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusToPackaging</servlet-name>
        <servlet-class>controller.UpdateStatusToPackaging</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSalesRecord</servlet-name>
        <servlet-class>controller.SearchSalesRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSalesRecordByDay</servlet-name>
        <servlet-class>controller.ViewSalesRecordByDay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSalesRecordByMonth</servlet-name>
        <servlet-class>controller.ViewSalesRecordByMonth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSalesRecordByYear</servlet-name>
        <servlet-class>controller.ViewSalesRecordByYear</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSalesReport</servlet-name>
        <servlet-class>controller.ViewSalesReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSalesReport</servlet-name>
        <servlet-class>controller.SearchSalesReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTopSalesReport</servlet-name>
        <servlet-class>controller.ViewTopSalesReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewLeastSalesReport</servlet-name>
        <servlet-class>controller.ViewLeastSalesReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBook</servlet-name>
        <servlet-class>controller.AddBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayBooks</servlet-name>
        <servlet-class>controller.DisplayBooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCon</servlet-name>
        <servlet-class>controller.LoginCon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayBookDetails</servlet-name>
        <servlet-class>controller.DisplayBookDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCart</servlet-name>
        <servlet-class>controller.AddCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayCart</servlet-name>
        <servlet-class>controller.DisplayCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartItem</servlet-name>
        <servlet-class>controller.DeleteCartItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayCheckOutDetails</servlet-name>
        <servlet-class>controller.DisplayCheckOutDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProceedToPayment</servlet-name>
        <servlet-class>controller.ProceedToPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfterPayment</servlet-name>
        <servlet-class>controller.AfterPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfterPayment2</servlet-name>
        <servlet-class>controller.AfterPayment2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayOrderHistory</servlet-name>
        <servlet-class>controller.DisplayOrderHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortByCategory</servlet-name>
        <servlet-class>controller.SortByCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainMenu</servlet-name>
        <servlet-class>controller.MainMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainMenuNoLogin</servlet-name>
        <servlet-class>controller.MainMenuNoLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSalesRecord</servlet-name>
        <servlet-class>controller.ViewSalesRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBookName</servlet-name>
        <servlet-class>controller.SearchBookName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CopyRight</servlet-name>
        <servlet-class>controller.CopyRight</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewStaffList</servlet-name>
        <url-pattern>/ViewStaffList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaff</servlet-name>
        <url-pattern>/AddStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadStaffList</servlet-name>
        <url-pattern>/LoadStaffList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStaff</servlet-name>
        <url-pattern>/SearchStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaff</servlet-name>
        <url-pattern>/UpdateStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaff</servlet-name>
        <url-pattern>/DeleteStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStaffDetails</servlet-name>
        <url-pattern>/ViewStaffDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUserList</servlet-name>
        <url-pattern>/ViewUserList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadUserList</servlet-name>
        <url-pattern>/LoadUserList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUser</servlet-name>
        <url-pattern>/SearchUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUserDetails</servlet-name>
        <url-pattern>/ViewUserDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBookList</servlet-name>
        <url-pattern>/ViewBookList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadBookList</servlet-name>
        <url-pattern>/LoadBookList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBook</servlet-name>
        <url-pattern>/SearchBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBook</servlet-name>
        <url-pattern>/UpdateBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBook</servlet-name>
        <url-pattern>/DeleteBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBookDetails</servlet-name>
        <url-pattern>/ViewBookDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewShippingList</servlet-name>
        <url-pattern>/ViewShippingList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewShippingOrderDetails</servlet-name>
        <url-pattern>/ViewShippingOrderDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchShipping</servlet-name>
        <url-pattern>/SearchShipping</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatus</servlet-name>
        <url-pattern>/UpdateStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusToPackaging</servlet-name>
        <url-pattern>/UpdateStatusToPackaging</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSalesRecord</servlet-name>
        <url-pattern>/SearchSalesRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSalesRecordByDay</servlet-name>
        <url-pattern>/ViewSalesRecordByDay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSalesRecordByMonth</servlet-name>
        <url-pattern>/ViewSalesRecordByMonth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSalesRecordByYear</servlet-name>
        <url-pattern>/ViewSalesRecordByYear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSalesReport</servlet-name>
        <url-pattern>/ViewSalesReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSalesReport</servlet-name>
        <url-pattern>/SearchSalesReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTopSalesReport</servlet-name>
        <url-pattern>/ViewTopSalesReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewLeastSalesReport</servlet-name>
        <url-pattern>/ViewLeastSalesReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBook</servlet-name>
        <url-pattern>/AddBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayBooks</servlet-name>
        <url-pattern>/DisplayBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCon</servlet-name>
        <url-pattern>/LoginCon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayBookDetails</servlet-name>
        <url-pattern>/user/DisplayBookDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCart</servlet-name>
        <url-pattern>/user/AddCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayCart</servlet-name>
        <url-pattern>/user/DisplayCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartItem</servlet-name>
        <url-pattern>/user/DeleteCartItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayCheckOutDetails</servlet-name>
        <url-pattern>/user/DisplayCheckOutDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProceedToPayment</servlet-name>
        <url-pattern>/user/ProceedToPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfterPayment</servlet-name>
        <url-pattern>/user/AfterPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfterPayment2</servlet-name>
        <url-pattern>/AfterPayment2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayOrderHistory</servlet-name>
        <url-pattern>/user/DisplayOrderHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortByCategory</servlet-name>
        <url-pattern>/user/SortByCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainMenu</servlet-name>
        <url-pattern>/MainMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainMenuNoLogin</servlet-name>
        <url-pattern>/MainMenuNoLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSalesRecord</servlet-name>
        <url-pattern>/ViewSalesRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBookName</servlet-name>
        <url-pattern>/user/SearchBookName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CopyRight</servlet-name>
        <url-pattern>/CopyRight</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <context-param>
        <param-name>companyName</param-name>
        <param-value>Book Book Chui</param-value>
    </context-param>
    <context-param>
        <param-name>companyEmail</param-name>
        <param-value>bookbookchui@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>copyrights</param-name>
        <param-value>© BookBookChui. All rights reserved.</param-value>
    </context-param>
</web-app>
